html {
  --unit: 0.5rem;
}

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.item-title {
  width: 10rem;
}
.item-thumbnail {
  height: 2rem;
  width: 2rem;
  margin-right: var(--unit);
  margin-bottom: var(--unit);
}
.item-error{
  color: crimson;
}
.item-metric {
  position: relative;
  margin-top: 0.75rem;
}
.item-metric-label {
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  top: -1rem;
}